<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--остальное содержимое-->
  <connectionStrings>
    <add name="UserDB" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=userstoredb;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="PersonEntities" connectionString="metadata=res://*/ModelEF.csdl|res://*/ModelEF.ssdl|res://*/ModelEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database2.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>