<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--остальное содержимое-->
  <connectionStrings>
    <add name="UserDB" connectionString="data source=(localdb)\v11.0;Initial Catalog=userstoredb;Integrated Security=True;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>